<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491162372544-22ig1d26lia9rvk2bqj201ouu9g8iam8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491162372544-22ig1d26lia9rvk2bqj201ouu9g8iam8</string>
	<key>API_KEY</key>
	<string>AIzaSyDK8BzKNt6c-BU-SzkAI9Ojn-6IXMykZFU</string>
	<key>GCM_SENDER_ID</key>
	<string>491162372544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.Glamour1</string>
	<key>PROJECT_ID</key>
	<string>glamour-24df5</string>
	<key>STORAGE_BUCKET</key>
	<string>glamour-24df5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491162372544:ios:6b5944b45b78394495a025</string>
	<key>DATABASE_URL</key>
	<string>https://glamour-24df5.firebaseio.com</string>
</dict>
</plist>